header {
  display: flex;
  justify-content: flex-end;
  height: 5vh;
  nav {
    display: flex;
    align-items: center;
    margin-right: 5vw;
  }
}

.nav-link {
  text-decoration: none;
  color: $secondary-text-color;
  padding: 0 2rem;
  font-size: 2rem;
}
