@import "colors";

header {
  display: flex;
  justify-content: flex-end;
  height: 5vh;
  nav {
    display: flex;
    align-items: center;
  }
}

.nav-link {
  text-decoration: none;
  color: $secondary-text-color;
  margin-right: 5rem;
  font-size: 2rem;
}
