@import "colors";

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  background-image: url("../images/home.jpg");
  div {
    width: 100vw;
    height: 95vh;
    background: linear-gradient(
      -45deg,
      rgba(252, 217, 168, 0.5),
      rgba(229, 155, 197, 0.5)
    );
    position: relative;
    h1 {
      position: absolute;
      top: 20%;
      right: 10%;
      color: $primary-text-color;
      font-size: 4rem;
    }
  }
}
