.wrapper {
  display: flex;
  justify-content: center;
  .filters {
    height: 100vh;
    width: 30vw;
    &-fixed {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 30vw;
      position: fixed;
      justify-content: center;
      align-items: center;
    }
  }
}
