@import "colors";

table {
  table-layout: fixed;
  width: 50rem;
  margin-left: 1rem;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 15px;
}

tr:hover {
  cursor: pointer;
  background-color: $side-color;
  color: white;
  th {
    color: white;
  }
}

th {
  border-bottom: 5px solid white;
  color: $side-color;
}
